<!DOCTYPE html>
<html>
    <head>
        <title>knftl's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Knftl Yulya Blog</a></h1>
        </header>

        <article>
            <h2><a href="">My first post</a></h2>
            <p>
                Цінність чи внутрішнє обмеження?
                Ми часто можемо сплутати у себе в голові поняття цінностей і внутрішніх обмежень . І те, і те формує для нас деякі норми і правила життя. Однак цінності - це те, що ми прагнемо втілити в наше життя через цілі. Вони породжують для нас деякий ідеал. В той час як внутрішні обмеження самі говорять все за себе. Вони обмежують нас в досягненні цілей і формуванні життя в задоволення. Обмеження формують ілюзію, що ти маєш якусь цінність, однак це доволі хибне відчуття, бо іноді ти починаєш відчувати внутрішній дисонанс в думках і відчуттях.
                Тоді постає питання: як відрізнити справжню цінність від обмежень в голові? Твоя цінність ніколи не повинна починатись зі слів “ні” або “не можна”. Цінність навпаки показує орієнтир, до чого саме слід прагнути, в той час як обмеження - це самоконтроль.
            </p>
            <time>published: 08.06.2023, 19:16</time>
        </article>

        <article>
            <h2><a href="">My second post</a></h2>
            <p>
                Що наповнює мене силами?
                Мені здається, що таке запитання спадають на думку майже кожному, окрім тих, хто і так живе життя в своє задоволення без проблем і стресу. Однак такий варіант, мені здається, це утопія, бо звичайну людину завжди можуть спіткати проблеми, щось йти не за планом чи не так, як хотілось і очікувалось, в кінці кінців вона може втомлюватись. Особисто я наповнююсь енергією там, де я роблю щось в своє задоволення і із свого власного бажання.
                Піклування про себе, про своє фізичне і моральне здоровʼя. Близькі люди. Йога і розтяжка. Пошук і розуміння своїх бажань і мрій. Гарні і затишні кавʼярні. В’язання. І ще багато всього, що я роблю із свого власного бажання і із задоволенням. Іноді буває важко назвати конкретні речі, котрі будуть надавати мені сил. Це завжди комплекс багатьох факторів.
            </p>
            <time>published: 08.06.2023, 19:20</time>
        </article>

    </body>
</html>
